*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primeira_sessao{
    border: solid pink 4px;
    div{
        width: 100px;
        background-color: purple;
        height: 100px;
    }
}